<table>
<caption>Rio 2016 Olympic Games - Nation Medal Table</caption>
  <thead>
    <tr>
      <th>Nation</th>
      <th>Gold Medals</th>
      <th>Silver Medals</th>
      <th>Bronze Medals</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @olympic.order_nations_by_points_two.each do |nation| %>
    <tr>
      <td><%= nation[:name] %><img src="<%= nation[:flag] %>"></td>
      <td><%= @olympic.total_gold( nation[:id] ) %></td>
      <td><%= @olympic.total_silver( nation[:id] ) %></td>
      <td><%= @olympic.total_bronze( nation[:id] ) %></td>
      <td><%= @olympic.total_points( nation[:id] ) %></td>
    </tr>



    <% end %>
  </tbody>

</table>