<div class="content">
  <h1>Nations</h1>
  <h3>Total Nations: <%= @nations.length %></h3>

  <form action="/nations" method="get">
    <input type="text" name="search">
    <button>Search</button>
  </form>



  <% @nations.sort_by!{|nation| nation.name}.each do |nation| %>

  <body>

      <h4><a href="/nations/<%= nation.id %>"><img class="nation" src="<%= nation.flag %>"></a></h4>

      <h4><a href="/nations/<%= nation.id %>"><%= nation.name %></a></h4>
    
  </body>
  <hr>
  <% end %>
</div>